<header></header>
<main>
  <mat-card >
    <mat-card-header>
      <mat-toolbar>
        <span>Med AI Chat</span>
        <span></span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <section
        #conversationRef
        *ngFor="let message of conversation"
        class="conversation"
        [ngClass]="{ conversation__from_bot: message.from === 'user' }"
      >
        <img
          class="avatar"
          [src]="
            message.from === 'bot'
              ? '/assets/ChatGPT_logo.svg'
              : '/assets/user.png'
          "
          alt="bot avatar"
        />
        <p class="conversation__text">{{ message.text }}</p>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Type here!</mat-label>
        <input matInput #message maxlength="256" placeholder="Please enter your medical concerns." (keydown.enter)="send(message)"/>
      </mat-form-field>
      <button mat-button (click)="send(message)">Send</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar [mode]="loadingStatus"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</main>